body {
    background-color: #111;
    margin: 0
  }
.overlay {
  position: absolute;
  /* z-index: -1; */
  top: -2px;
  left: 0;
  width: 100%;
  height: 506px;
  background-color: #000000aa
}
  h3 {
    padding-top: 80px;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: "VT323", sans-serif;
    position: relative;
    z-index: 0
  }
  h4 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: -16px;
  }

  h4:hover {
    animation: shake 0.8s;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(25px);
    }

    50% {
      transform: translateX(-25px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  h2 {
    padding-top: 10px;
    padding-right: 10px;
    text-align: end;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    position: relative;
    z-index: 0;
    opacity: 0.6
  }
  .introcontainer {
    height: 500px;
    background-image: url("Musicbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid transparent;
    background-attachment: fixed;
  }
  .maincontainer {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    /* border: 2px solid white; */
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 20px;
    margin-top: 60px;
  }

  #container1 {
    background-image: url("happy.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #container2 {
    background-image: url("emotional.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #container3 {
    background-image: url("Hope.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #container4 {
    background-image: url("sad.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #container5 {
    background-image: url("evil.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #container6 {
    background-image: url("sinister.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .outrocontainer {
    height: 200px;
    background-image: url("Quantum Jazz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;

    width: 80%;
    border-radius: 10px;
    margin: auto;
    margin-top: 70px;
  }
