{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>QuantumMusicComposer</title>
  </head>
  <body>
    <div class="bigcontainer">
      <div class="introcontainer">
        <div class="overlay">

        </div>
        <h3>Quantum Music Composer</h3>
        <h2>Team Quantum Maestros</h2>
      </div>
      <div class="maincontainer">
        <div style="display: flex; flex-direction: column">
          <a
            href="{{'result/happy/120' }}"
            style="text-decoration: none; color: rgb(14, 13, 13)"
            ><div class="container" id="container1"></div>
            <h4>Happy</h4></a
          >
        </div>
        <div style="display: flex; flex-direction: column">
          <a
            href="{{'#' }}"
            style="text-decoration: none; color: rgb(14, 13, 13)"
            ><div class="container" id="container2"></div>
            <h4>Emotional</h4></a
          >
        </div>
        <div style="display: flex; flex-direction: column">
          <a
            href="{{'#' }}"
            style="text-decoration: none; color: rgb(14, 13, 13)"
            ><div class="container" id="container3"></div>

            <h4>Uplifting</h4></a
          >
        </div>
        <div style="display: flex; flex-direction: column">
          <a
            href="{{'#' }}"
            style="text-decoration: none; color: rgb(14, 13, 13)"
          >
            <div class="container" id="container4"></div>

            <h4>Sad</h4></a
          >
        </div>
        <div style="display: flex; flex-direction: column">
          <a
            href="{{'#' }}"
            style="text-decoration: none; color: rgb(14, 13, 13)"
          >
            <div class="container" id="container5"></div>
            <h4>Evil</h4></a
          >
        </div>
        <div style="display: flex; flex-direction: column">
          <a
            href="{{'#' }}"
            style="text-decoration: none; color: rgb(14, 13, 13)"
            ><div class="container" id="container6"></div>

            <h4>Sinister</h4></a
          >
        </div>
      </div>
      <div style="display: flex; flex-direction: column">
        <a href="{{'#' }}" style="text-decoration: none; color: rgb(14, 13, 13)"
          ><div class="outrocontainer"></div>
          <p>Quantum Jazz</p></a
        >
      </div>
    </div>
    <br><br>
  </body>
</html>
{% endblock %}
