{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-image: linear-gradient(to right, #3a8d90 , #895cc3);">
<div class="Rectangle2"><h1 style="display: flex; justify-content: center;"> Team Quantum Maestros</h1></div>
<div class="main">
<div class="Rectangle_one">
    <div class="inside" style="display: flex; justify-content: center;" >
        <a href="{{'#' }}" style="text-decoration: none; color: rgb(14, 13, 13);">
         <img width="130px" height="130px" src="{% static "img/emogi.png" %}" alt="Instagram"/>
 </div><p style="display: flex; justify-content: center;"> Happy</p></a> 

</div>
<div class="Rectangle_two">
    <div class="inside" style="display: flex; justify-content: center;" >
        <a href="{{'#' }}" style="text-decoration: none; color: rgb(14, 13, 13);">
         <img width="130px" height="130px" src="{% static "img/emogi.png" %}" alt="Instagram"/>
 </div><p style="display: flex; justify-content: center;"> Happy</p></a> 
</div>
<div class="Rectangle_three">
    <div class="inside" style="display: flex; justify-content: center;" >
        <a href="{{'#' }}" style="text-decoration: none; color: rgb(14, 13, 13);">
         <img width="130px" height="130px" src="{% static "img/emogi.png" %}" alt="Instagram"/>
 </div><p style="display: flex; justify-content: center;"> Happy</p></a> 
</div>
<div class="Rectangle_four">
    <div class="inside" style="display: flex; justify-content: center;" >
        <a href="{{'#' }}" style="text-decoration: none; color: rgb(14, 13, 13);">
         <img width="130px" height="130px" src="{% static "img/emogi.png" %}" alt="Instagram"/>
 </div><p style="display: flex; justify-content: center;"> Happy</p></a> 
</div>
<div class="Rectangle_five">
    <div class="inside" style="display: flex; justify-content: center;" >
        <a href="{{'#' }}" style="text-decoration: none; color: rgb(14, 13, 13);">
         <img width="130px" height="130px" src="{% static "img/emogi.png" %}" alt="Instagram"/>
 </div><p style="display: flex; justify-content: center;"> Happy</p></a> 
</div>
<div class="Rectangle_six">
    <div class="inside" style="display: flex; justify-content: center;" >
        <a href="{{'#' }}" style="text-decoration: none; color: rgb(14, 13, 13);">
         <img width="130px" height="130px" src="{% static "img/emogi.png" %}" alt="Instagram"/>
 </div><p style="display: flex; justify-content: center;"> Happy</p></a> 
</div>
</div>
</body>
</html>
{% endblock %}